/* Configurações da página */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  font-size: 62.5%;


  /* Variáveis de cores usadas no projeto */
  --color-purple-gradiente: linear-gradient(45deg, #190361 0%, #B0F 100%);
  --color-white: white;
  --color-dark-blue: #34355B;
  --color-yellow: #FF9500;
  --color-yellow2: #feac39;
  --color-baby-blue: #E4EDF1;
  --color-black: black;
}

.hide{
  display: none;
}


body{
  background: var(--color-purple-gradiente);
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}


/* Configurações de textos usados na Screen 1 e 2 */
main{
  width: min(42.8rem, 90%);
  background-color: var(--color-white);
  padding: 4.8rem 6.4rem 6.4rem 6.4rem;
}

h1{
  font-family: 'Montserrat', sans-serif;
  font-size: 2.4rem;
  font-weight: 700;
  color: var(--color-dark-blue);
  text-align: center;
}

h3{
  font-family: 'DM Sans', sans-serif;
  font-size: 1.5rem;
  text-align: center;
  color: var(--color-dark-blue);
  margin-top: 1.4rem;
  margin-bottom: 2.7rem;
}


.container-img{
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-img img{
  width: 70%;
  height: 70%;
  object-fit: contain;
}




/* Elementos usados na Screen 1 */
.screen1 .container-img img{
  margin-left: -5rem;
}






/* Elementos usados na Screen 2 */
.screen2 .container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.screen2 .container-img img{
  margin-top: 6.2rem;
}

 button{
  padding: 1.6rem;
  border: none;
  background-color: var(--color-yellow);
  border-radius: 0.4rem;
  margin-top: 5rem;
  
  font-family: 'DM Sans', sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  color: var(--color-white);
} 

button:hover{
  cursor: pointer;
  background-color: var(--color-yellow2);
  transform: scale(1.1);
  transition: 500ms;
}

.container-message{
  background-color: var(--color-baby-blue);
  width: 100%;
  height: min(14rem, 60%);
  padding: 1rem;
  margin-top: 1.7rem;
  animation: myAnim 2s ease 0s 1 normal forwards;
}

#h2Message{
  font-family: 'Dancing Script', sans-serif;
  text-align: center;
  font-style: normal;
  line-height: normal;
  font-size: 2.4rem;
  color: var(--color-black);
} 

.screen1 .container-img:hover {
  animation: shake 1s cubic-bezier(.36,.07,.19,.97) both infinite;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}


@keyframes shake {
  10%, 90% {
    transform: translate3d(-2px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(3px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(2px, 0, 0);
  }
}

@keyframes myAnim {
	0% {
		opacity: 0;
		transform: translateY(50px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}